@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

/* Topbar shadow */
.fi-layout {
    margin-top: 4rem;
    /* same as topbar height */
}

@media (max-width: 1000px) {
    .fi-sidebar-nav {
        margin-top: 4rem;
    }
}

/* Alvo: botão hamburguer do topbar */
.fi-topbar-open-sidebar-btn {
    order: -1;
    /* joga o botão para antes do logo */
}

/* idem para o botão de fechar */
.fi-topbar-close-sidebar-btn {
    order: -1;
}

.fi-topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 50;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* .fi-topbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 1; 
    @apply bg-teal-600;
} */

.fi-sidebar-header {
    display: none !important;
}

.fi-ta,
.fi-fo-tabs,
.tabs-header,
.fi-section,
.fi-fo-wizard,
.fi-simple-main {
    border-radius: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    /* overflow: hidden; */
}

.fi-ta-record {
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.fi-simple-main {
    @apply w-full sm:max-w-md !important;
}
