@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../views/app.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';

@theme {
    --color-ueap-primary: #0052CC;
    --color-ueap-accent: #A3E635;
    --color-ueap-secondary: #0F172A;
    --color-ueap-footer: #003D99;

    --font-heading: 'Inter', sans-serif;
    --font-body: 'Inter', sans-serif;
}

/* Custom Base Styles */
@layer base {
    body {
        @apply antialiased font-sans text-gray-900 overflow-x-hidden bg-white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold tracking-tight;
    }
}

/* pagina post-show */
.article-body *:not(figure, figure *) {
    /* Reseta a base para garantir consistência */
    font-size: 15px !important;
    font-family: 'Inter', sans-serif !important;
}

.article-body a:hover {
    text-decoration: underline !important;
}

table {
    border-collapse: collapse;
    width: 100% !important;
    table-layout: auto !important;
    display: table !important;
    margin-bottom: 1.5rem;
    border-spacing: 0;
    font-size: 13px !important;
}

/* células */
.article-body table,
.article-body table * {
    font-size: 13px !important;
    line-height: 1.2 !important;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #e5e7eb;
    text-align: left;
    vertical-align: top;
}